{% extends 'base.html' %}
{% load static %}
{% block content %}
<h4 class="text-center">About Our <b class="txt_wcolor">DRM-Cart</b></h4>
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
<p class="text-center pt-1">There are multiple resion to choose us for multiple purpose t
    o your daily routine and things to purchase Believe me you will find us suitable</p>
</div>
    <div class="col-sm-3"></div>
</div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <div class="row">

                <div class="col-sm-6">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/f4LmhpOnYow" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="col-sm-6">
                    <h6 class=" px-5 text-center">Welcome To DRM-Cart India, Just There Is Some Little Word To Describe Our Work Scope and you'll know... </h6>
                    <div  style="height:3px; background:red;width:25%;margin-left:60px;"></div>
                    <p>DRM-Cart India is Create by some young engineers who have masterd in IT sector,Whose objective is to achieve the highest position
                    in the IT sector across the country, who are trying to achieve this objective by cooperative in various fields<br><br>

                        DRM-Cart India is a website, where any people can visit to buy the good product.
                    </p>

                    <a href="#" class="btn btn-outline-warning"> CONTACT US </a>
            </div>
        </div>
    </div>
        <div class="col-sm-1"></div>

</div>
<div class="row">
     <div class="col-sm-3"></div>
     <div class="col-sm-6">
    <p class="text-center fs-3 pt-3"> WE <B class="txt_wcolor">BELIEVE </B></p>
    <h6 class="mt-2">We Believe To Make IT Web develop Industry More Reliable For People</h6>
         <h5 >Our Vision</h5>
         <div class="" style="height:3px; width:12%; background:#FF8800;"></div>
          <div class="mt-3"> Out Vision is to be leading Web Solution company in IT sector and process in our current position in the market.We know that customer's growth in
    our growth,so we commit our customers to help int their business goals. We Believe in with the accuracy and best quality.</div>
         <h4 class="my-3">Our Mission </h4>
        <div class="" style="height:3px; width:12%; background:#FF8800;"></div>
         <div >Our Mission is to enhance the bussiness growth of the our customers with creative Design and Development to deliver market defining high quality
         quality solution that create value and competitive advantage for our clients around the world.
         </div>
         <h4 class="my-3">Our Work Scope</h4>
         <div style="height:3px; background:#FF8800; width:17%;"></div>
         <div>Our Mission is to be deliver optimal solutions with quality and services at reasionable price.We are very friendly in our  dealing to the customer helps and retain exiting
         clients and expect customer circle.We always try to improve the quality of our product by exploring our idea.
         </div>



     <div class="col-sm-3"></div>
</div>
{%  endblock %}

