{% extends 'base.html' %}
{% load static  %}
{% block content %}
{% if not request.session.userid %}
<script>
    alert('you have login first')
    location.href="/user/signin/"
</script>
{% endif %}
<div class="fs-2 text-center">Pending <b class="txt_wcolor">Order
     <i class="fa-solid fa-cart-shopping"></i>
</b></div>
<table class=" table table-stripted">
    <tr>
    <th>Order number</th>
    <th>Prodcut Picture</th>
    <th>Price</th>
    <th>After Discount</th>
    <th>Size</th>
    <th>Color</th>
    <th>Product Delivery</th>
    <th>Status</th>
    <th>order date</th>
    <th>Cancel</th>
    </tr>
    {% for i in pdata %}
    <tr>
        <td>{{i.11}}</td>
        <td><img src="/{{i.7}}"style="max-height:150px;"></td>
        <td class="text-danger fw-bold">{{i.1}}</td>
        <td class="text-success fw-bold">{{i.2}}</td>
        <td><span class="btn bg-wcolor">{{i.3}}</span></td>
        <td><div style="height:45px;width:45px; border-radius:3px; background:{{i.4}};"></div></td>
        <td>{{i.6}}</td>
        <td><span class="btn btn-danger">{{i.14}}</span></td>
        <td >{{i.15}}</td>
        <td><a href="/user/myorder?oid={{i.11}}" class="btn bg-danger">Cancel<i class="fa-solid fa-xmark"></i></a></td>
    </tr>
    {% endfor %}
</table>
<div class="fs-2 text-center">Delivered <b class="txt_wcolor">Order
     <i class="fa-solid fa-cart-shopping"></i>
</b></div>
<table class=" table table-stripted">
    <tr>
    <th>Order number</th>
    <th>Prodcut Picture</th>
    <th>Price</th>
    <th>After Discount</th>
    <th>Size</th>
    <th>Color</th>
    <th>Product Delivery</th>
    <th>Status</th>
    <th>order date</th>

    </tr>
    {% for i in ddata %}
    <tr>
        <td>{{i.11}}</td>
        <td><img src="/{{i.7}}"style="max-height:150px;"></td>
        <td class="text-danger fw-bold">{{i.1}}</td>
        <td class="text-success fw-bold">{{i.2}}</td>
        <td><span class="btn bg-wcolor">{{i.3}}</span></td>
        <td><div style="height:45px;width:45px; border-radius:3px; background:{{i.4}};"></div></td>
        <td>{{i.6}}</td>
        <td><span class="btn btn-danger">{{i.14}}</span></td>
        <td >{{i.15}}</td>
    </tr>
    {% endfor %}
</table>
{%  endblock%}
