{% extends 'base.html' %}
{% load static %}
{% block title %}
view Product
{% endblock %}

{% block content %}
<div class="text-center py-3 fs-2">
    Your Selected <b > Product </b><b class="txt_wcolor"> <i class="fa-solid fa-cart-shopping"></i></b>
</div>
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div class="row">
            {% for a in pdata %}
            <div class="col-sm-12">
                <!--  start card   -->
                <div class="card mb-3 w-100" >
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/{{a.ppic}}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{a.pcategory}}</h5>
        <p class="card-text">{{a.pdes}}</p>
        <p class="card-text">
            <i class="fa-solid fa-indian-rupee-sign"></i>
            <span><s class="text-danger">{{a.price}}</s></span>
            <span class="text-primary">{{a.dprice}}</span><br>
            <b >Size :</b>
            <span class="btn btn-sm bg-wcolor">{{a.psize}}</span>
          <div style="height:30px; width:30px; background:{{a.pcolor}};border-radius:3px;"></div>

          <p class="card-text">
              <a href="/user/mcart?pid={{a.id}}" class="btn btn-sm bg-wcolor">Add To cart
                  <i class="fa-solid fa-cart-shopping"></i>
              </a>
          <a href="/user/myordr?msg={{a.id}}" class="btn btn-sm bg-bcolor text-white">Order Now</a>
          <i class="fa-solid fa-calendar-days"></i>
          <small class="text-muted">{{a.pdate}}</small> || {{a.pdel}}
          </p>

          </p>
      </div>
    </div>
  </div>
</div>


                <!--  end card   -->

            </div>
            {% endfor %}
        </div>

    </div>
    <div class="col-sm-2"></div>

</div>

{% endblock %}